.pie a {
  margin: 0 10px;
  color: $color-text-main;
  text-decoration: none;
}

.footer {
  background-color: $color-bg-footer;
  text-align: center;
  padding: 20px;
  color: $color-text-muted;
  text-decoration: none;
}

.txtFoot {
  max-width: 1200px;
  margin: 0 auto 20px auto;
}

.copy {
  @extend %button-shared;
  font-size: 14px;
  color: $color-text-muted;
}